:root{
    --mp3-info-length: 420px;
    --container-background: rgb(45, 158, 73);
}
*{
    box-sizing: border-box;
}
body{
    background: #ffffff;
}
header{
    padding: 1rem;
}
header h1{
    background: gray;
    margin: 0;
    padding: 1rem;
}
main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.outer-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    border: 0.75rem solid black;
}
.inner-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 150px;
    background: var(--container-background);
}
.playlist-title{
    background: #51a064;
    margin: 0;
    text-align: center;
    padding: 0.5rem;
}
.song{
    background: var(--container-background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    padding: 1rem;
}
.album{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin: 0 0.25rem 0 0.25rem;
}
.song-info{
    display: flex;
    align-items: center;
}
.playing{
    padding-left: 20px;
}
.title{
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
#mp3-cover{
    padding: 0.5rem;
}
.button{
    color: #ffffff;
    font-size: 1.5rem;
    background: none;
    border: none;
    margin-right: 2rem;
    opacity: 0.9;
}
.button:hover{
    opacity: 1;
    cursor: pointer;
}
.pause-button{
    visibility: hidden;
    position: absolute;
    right: 35%;
}
.mp3-info{
    position: relative;
}
.playlist-info{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
.album-cover{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.spin{
    animation: 3s linear infinite spin;
    animation-play-state: paused;
}
.flexbox{
    display: flex;
    align-items: center;
    
}
.song-button{
    all: unset;
}
.song:hover{
    opacity: 0.5;
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.center{
    text-align: center;
    align-items: center;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes animation-bar{
    from{
        width: var(--mp3-info-length);
    }
    to{
        width: 0;
    }
}
@keyframes opacitate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width: 600px){
    .outer-container{
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
    }
    .buttons{
        margin: 1rem;
    }
    .buttons .button{
        margin: 0;
        padding: 1rem;
    }
    .inner-container{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .playlist-info, .songs{
        letter-spacing: normal;
        font-size: 0.7rem;
    }
    .song{
        padding: 1rem 0 1rem 0;
    }
}